{% extends 'base.html.twig' %}

{% block title %}Login - ShareWriter{% endblock %}
{% block stylesheets %}
    <style>
    body {
        background-color:#f7f7f7;
        text-align:center;
    }

    a {
        color: #222;
        font-weight: bold;
    }

    .wrapper {
        margin: auto;
        display: inline-block;
        text-align: center;
        background-color: #fff;
        padding: 15px;
        border: 1px solid #ddd;
    }

    p {
        font-size: 14px;
        color: #555;
    }

    input {
        display: block;
        padding:10px;
        margin:10px;
        width: 300px;
    }
    </style>
{% endblock %}

{% block body %}
<div class="wrapper">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
    <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <input type="password" placeholder="Password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary btn-fill" type="submit">
        Log in
    </button>
</form>
</div>

<p>No account? <a href="{{path('app_register')}}">Create one here</a></p> 
{% endblock %}
