{% extends 'baseBar.html.twig' %}

{% block title %}{{board_name}} - Board{% endblock %}

{% block bo %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

    textarea {
        width:500px;
        height:200px;
    }

    h1 {
        font-size: 20px;
    }
</style>

{% if board_notAllowed == true %}
    <p>You are not allowed to access this board</p>
{% else %}
<div class="wrapper">
    <h1>{{board_name}}</h1>
    <span>

    <textarea id="board_content">{{board_content}}</textarea>
    <script>
        $("#board_content").on("input", function() {
            let content = $(this).val();
            let urlStr = "{{path('boards_write', {id: board_id, userid: user_id, text: 'textareaval'})}}";
            urlStr = urlStr.replace("textareaval", content);

            $.ajax({
                url: urlStr,
                method: "POST",
                cache: false
            })
            .done(function(json) {
                
            });
        });
    </script>

    <h2>Activity</h2>
    <span>Last edit by User on 07/07/2020 14:46</span>
    <a href="#"> View Activity History</a>

    {% if board_isOwner== true %}
    <h2>Board Settings</h2>
        <input type="checkbox" name="setting_private"><label for="setting_private">Set private</label>
        <input type="text" name="addAllowedUser" placeholder="Enter an email to add to allow list"><button id="btnAddAllow">Add</button>
        <div>
            <ul style="height:100px; overflow: auto;">
            </ul>
        </div>

        <script>
            $("#btnAddAllow").on("click", function() {
                let newEmail = $("input[name=addAllowedUser]").val();
                let urlStr = "{{path('boards_email_allow', {id: board_id, email: 'newEmail'})}}";
                urlStr = urlStr.replace("newEmail", newEmail);

                $.ajax({
                    url: urlStr,
                    method: "POST",
                    cache: false,
                })
                .done(function(json) {
                    alert(json.email);
                })
                .fail(function(xhr) {
                    
                });

            });
        </script>
    {% endif %}
    
</div>
{% endif %}


{% endblock %}
