{% extends 'base.html.twig' %}

{% block title %}Boards{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{path("app_logout")}}">Logout</a> | 
    <a href="{{path("boards_new")}}">Create board</a>
    <a href="{{path("boards_join")}}">Join board</a>
    
    <h1>Board List</h1>

    <ul>
    {% for board in boards %}
        <a href="{{ path('boards_display', {id: board.id}) }}"><li>{{board.name}}</li></a>
    {% endfor %}
    </ul>
</div>
{% endblock %}
